<html>
    <head>
        <meta charset="utf-8">
        <title>Rejestracja 4G</title>
        <link rel="stylesheet" type="text/css" href="logowanie_style.css">      
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
 
    </head>
<html>    
    <body>
          
            <div class="header">
                    <h2 class="logo"> KURIER4G</h2>
                      <input type="checkbox" id="chk">
                      <label for="chk" class="show-menu-btn">
                        <i class="fas fa-ellipsis-h"></i>
                      </label>
                      <ul class="menu">
                        <a href="Startowa.html">Home</a>
                        <a href="Paczka.html">PACZKA</a>
                        <a href="#">ŚLEDZENIE</a>
                        <a href="#">KURIER</a>
                        <a href="#">NADAJ PACZKĘ</a>
                        <a href="logowanie.html">ZALOGUJ</a>
                        <a href="rejestracja.html">ZAREJSTRUJ</a>
                        <label for="chk" class="hide-menu-btn">
                          <i class="fas fa-times"></i>
                        </label>
                      </ul>
                    </div>
        <div class="box">
            <h2>Rejestracja</h2>
            <form method="POST" action="rejestracja.php">
                    <div class="inputBox">
                            <input type="text" name="login" required="">
                            <label>Login</label>
                    </div> 
                    <div class="inputBox">
                            <input type="text" name="password" required="">
                            <label>Hasło</label>
                    </div> 
                    <div class="inputBox">
                            <input type="text" name="rpassword" required="">
                            <label>Powtórz hasło</label>
                    </div>
                    <div class="inputBox">
                            <input type="text" name="email" required="">
                            <label>Email</label>
                    </div>
               
                    <input type="submit" value="Utwórz konto" name="rejestruj">
                    </form>
        </div>
        <div id="stopka" class="alert alert-light">
                    <strong>Stworzone przez:</strong> GOLA GIEREK GARGULA GONET.
                  </div>
    </body>
</html>